*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:80vh;
    flex-direction: column;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dataTables_wrapper{
    margin-top:60px;
    width: 990px;
}
